In [5]:
#Dependencies and File Paths
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#File Paths
ride_data_path = "Data/ride_data.csv"
city_data_path = "Data/city_data.csv"

#Read file(s)

ride_df = pd.read_csv(ride_data_path)
city_df = pd.read_csv(city_data_path)

In [7]:
#Preview DataFrames: Print the heads of both DataFrames

print(ride_df.head())
print(city_df.head())

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344
           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [15]:
#Merge DataFrames: Merge on 'city' column

merged_data = pd.merge(ride_df,city_df,on="city")

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

In [ ]:
#Preview the Merged DataFrame: merged_data
merged_data.head()

In [30]:
#Data Analysis: Average Fare(by city), Total Rides(by city), Total Drivers (All)

#Average Fare (groupby): Set index to city and find the mean of fares (gives the average for each city)
city_df = merged_data.groupby('city')
average_fare_series = city_df['fare'].mean()
#average_fare_series
city_df.head()
#Total Rides(use city_df): find the number of rides by using len on 'ride_id'

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban
24,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
25,South Michelleport,2018-03-02 09:54:50,33.12,813844006721,72,Urban
26,South Michelleport,2018-01-08 09:38:14,23.77,4916160406018,72,Urban
27,South Michelleport,2018-04-22 03:15:33,43.62,4663606096929,72,Urban
28,South Michelleport,2018-03-03 16:13:34,41.62,2339775503972,72,Urban
55,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
56,Port Samanthamouth,2018-04-16 18:34:44,9.20,8712247654732,57,Urban
57,Port Samanthamouth,2018-01-23 09:08:20,35.51,3116859378683,57,Urban
58,Port Samanthamouth,2018-02-03 07:07:01,18.03,9292190648631,57,Urban
59,Port Samanthamouth,2018-04-22 03:32:37,29.67,3154062122440,57,Urban
80,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
81,Rodneyfort,2018-03-02 18:03:20,44.26,2494064867705,34,Urban
82,Rodneyfort,2018-02-03 00:48:41,44.86,2325699544245,34,Urban
83,Rodneyfort,2018-04-25 20:57:43,21.70,8534600667414,34,Urban
84,Rodneyfort,2018-01-30 12:34:42,16.99,5778730523049,34,Urban
103,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban
104,South Jack,2018-04-24 19:33:56,38.04,2197989679742,46,Urban
105,South Jack,2018-03-30 20:21:59,4.20,4817670763151,46,Urban
106,South Jack,2018-02-01 22:32:07,28.37,3372008354124,46,Urban
107,South Jack,2018-01-31 02:51:29,21.75,6971155853312,46,Urban
122,South Latoya,2018-03-11 12:26:48,9.52,1994999424437,10,Urban
123,South Latoya,2018-01-11 18:44:14,27.41,8662301917375,10,Urban
124,South Latoya,2018-02-12 16:32:49,30.22,7388420725356,10,Urban
125,South Latoya,2018-03-02 06:06:17,10.35,338288902823,10,Urban
126,South Latoya,2018-03-19 16:19:22,31.72,363818381250,10,Urban
...,...,...,...,...,...,...
2336,South Saramouth,2018-04-12 18:11:50,57.23,5081198789583,7,Rural
2337,Lake Jamie,2018-03-13 06:41:49,26.09,1599158550738,4,Rural
2338,Lake Jamie,2018-04-30 21:26:22,37.33,6755483470287,4,Rural
2339,Lake Jamie,2018-01-18 07:36:46,43.57,1174957961925,4,Rural
2340,Lake Jamie,2018-02-25 23:46:02,28.65,5815763839331,4,Rural
2341,Lake Jamie,2018-04-19 04:32:47,16.29,3518682119233,4,Rural
2343,Newtonview,2018-01-08 06:19:45,19.39,5350347217506,1,Rural
2344,Newtonview,2018-02-05 22:53:21,45.02,7075366458478,1,Rural
2345,Newtonview,2018-04-01 13:39:13,26.73,3723530332713,1,Rural
2346,Newtonview,2018-04-25 10:20:13,55.84,9990581345298,1,Rural
2347,North Jaime,2018-03-06 09:09:23,44.17,1152195873170,1,Rural
2348,North Jaime,2018-03-12 13:05:56,23.21,5987447089759,1,Rural
2349,North Jaime,2018-04-04 13:13:40,51.83,9116047435376,1,Rural
2350,North Jaime,2018-02-01 08:59:24,17.05,9481117811603,1,Rural
2351,North Jaime,2018-05-06 00:58:17,41.18,7328094869758,1,Rural
2355,Penaborough,2018-02-24 00:44:00,21.89,2069309881916,6,Rural
2356,Penaborough,2018-04-27 06:02:10,38.33,547013925055,6,Rural
2357,Penaborough,2018-01-14 15:58:48,54.10,432925983890,6,Rural
2358,Penaborough,2018-02-03 17:15:31,51.80,5383427508621,6,Rural
2359,Penaborough,2018-01-22 15:36:24,10.11,4129933467653,6,Rural
2360,Harringtonfort,2018-01-06 07:38:40,47.33,3849747342021,4,Rural
2361,Harringtonfort,2018-02-17 04:42:56,30.58,6835140871685,4,Rural
2362,Harringtonfort,2018-04-16 16:30:50,17.39,4023962353348,4,Rural
2363,Harringtonfort,2018-03-10 10:11:37,19.02,6717313402790,4,Rural
2364,Harringtonfort,2018-02-26 07:03:11,54.66,9201585331171,4,Rural
2366,West Heather,2018-03-12 04:22:26,26.55,7035849392668,4,Rural
2367,West Heather,2018-02-22 09:01:37,17.40,8702491506161,4,Rural
2368,West Heather,2018-02-22 01:46:43,33.38,5551691454078,4,Rural
2369,West Heather,2018-02-04 16:29:23,13.97,7118893881453,4,Rural
2370,West Heather,2018-04-18 19:33:12,46.60,3671003215967,4,Rural

In [ ]:
#Bubble Plot

In [3]:
#Total Fares by City Type

In [4]:
#Total Rides by City Type

In [5]:
#Total Drivers by City Type