In [5]:
#Dependencies and File Paths
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#File Paths
ride_data_path = "Data/ride_data.csv"
city_data_path = "Data/city_data.csv"

#Read file(s)

ride_df = pd.read_csv(ride_data_path)
city_df = pd.read_csv(city_data_path)

In [7]:
#Preview DataFrames: Print the heads of both DataFrames

print(ride_df.head())
print(city_df.head())

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344
           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [15]:
#Merge DataFrames: Merge on 'city' column

merged_data = pd.merge(ride_df,city_df,on="city")

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

In [ ]:
#Preview the Merged DataFrame: merged_data
merged_data.head()

In [23]:
#Data Analysis: Average Fare(by city), Total Rides(by city), Total Drivers (All)

#Average Fare (groupby): Set index to city and find the mean of fares (gives the average for each city)
city_df = merged_data.groupby('city')
average_fare_unsorted = city_df.fare.mean()
average_fare

city
Amandaburgh              443.55
Barajasview              557.31
Barronchester            582.76
Bethanyland              593.21
Bradshawfurt             400.64
Brandonfort              673.31
Carriemouth              764.49
Christopherfurt          661.55
Colemanland              679.68
Davidfurt                543.93
Deanville                491.01
East Aaronbury           230.95
East Danielview          536.53
East Kaylahaven          688.98
East Kentstad            387.70
East Marymouth           832.55
Erikaland                298.88
Garzaport                 72.37
Grahamburgh              630.53
Grayville                416.45
Harringtonfort           200.82
Huntermouth              695.85
Hurleymouth              724.96
Jerryton                 641.23
Jessicaport              216.08
Johnton                  562.50
Joneschester             557.24
Josephside               887.17
Justinberg               710.83
Karenberg                447.78
                         ...
South Evanton            828.51
South Jack               436.34
South Jennifer           246.85
South Karenland         1008.35
South Latoya             381.77
South Marychester        334.96
South Michelleport       758.00
South Phillip            885.71
South Saramouth          144.64
South Teresa             686.85
Taylorhaven              253.58
Valentineton             542.00
Veronicaberg             558.08
Victoriaport             388.92
West Angela             1013.61
West Anthony             742.10
West Christopherberg     634.95
West Ericstad            402.25
West Gabriel             467.96
West Hannah              620.50
West Heather             305.01
West Heidi               647.75
West Josephberg          564.73
West Kimmouth            597.43
West Patrickchester      451.73
West Robert              778.84
West Samuelburgh         544.19
Williamsonville          446.25
Williamsstad             560.33
Williamsview             531.98
Name: fare, Length: 120, dtype: float64

In [ ]:
#Bubble Plot

In [3]:
#Total Fares by City Type

In [4]:
#Total Rides by City Type

In [5]:
#Total Drivers by City Type