In [5]:
#Dependencies and File Paths
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#File Paths
ride_data_path = "Data/ride_data.csv"
city_data_path = "Data/city_data.csv"

#Read file(s)

ride_df = pd.read_csv(ride_data_path)
city_df = pd.read_csv(city_data_path)

In [7]:
#Preview DataFrames: Print the heads of both DataFrames

print(ride_df.head())
print(city_df.head())

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344
           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [13]:
#Merge DataFrames: Merge on 'city' column

merged_data = pd.merge(ride_df,city_df,on="city")

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850
                 city                 date   fare        ride_id  \
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  Lake Jonathanshire  2018-04-07 20:51:11  31.25  4441251834598
2  Lake Jonathanshire  2018-03-09 23:45:55  19.89  2389495660448
3  Lake Jonathanshire  2018-04-07 18:09:21  24.28  7796805191168
4  Lake Jonathanshire  2018-01-02 14:14:50  13.89   424254840012

   driver_count   type
0             5  Urban
1             5  Urban
2             5  Urban
3             5  Urban
4             5  Urban

In [ ]:
#Preview the Merged DataFrame: DataFrame name

In [2]:
#Bubble Plot

In [3]:
#Total Fares by City Type

In [4]:
#Total Rides by City Type

In [5]:
#Total Drivers by City Type