In [87]:
#Dependencies and File Paths
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#File Paths
ride_data_path = "Data/ride_data.csv"
city_data_path = "Data/city_data.csv"

#Read file(s)

ride_data_df = pd.read_csv(ride_data_path)
city_data_df = pd.read_csv(city_data_path)

In [7]:
#Preview DataFrames: Print the heads of both DataFrames

print(ride_data_df.head())
print(city_data_df.head())

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344
           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [91]:
#Merge DataFrames: Merge on 'city' column

merged_data = pd.merge(ride_data_df,city_data_df,on="city", how="left")
merged_data.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

#

In [106]:
#Create DataFrames for each City Type
urban_cities = merged_data[merged_data["type"] == "Urban"]
suburban_cities = merged_data[merged_data["type"] == "Suburban"]
rural_cities = merged_data[merged_data["type"] == "Rural"]

#Calcuations for Urban Cities: Ride Count, Average Fare, Average Driver Count (for size)
x_urban = urban_cities["ride_id"].count()
y_urban = urban_cities["fare"].mean()
s_urban = urban_cities["driver_count"].mean()

#Calcuations for Urban Cities: Ride Count, Average Fare, Average Driver Count (for size)

#Calcuations for Urban Cities: Ride Count, Average Fare, Average Driver Count (for size)

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2018-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2018-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2018-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2018-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2018-04-19 01:06:59,37.78,2273047151891,12,Suburban
1630,East Marymouth,2018-03-29 08:36:20,37.60,6370863861570,5,Suburban
1631,New Raymond,2018-02-25 21:40:18,20.44,5984505117874,17,Suburban
1632,Lake Robertside,2018-01-11 20:17:36,46.51,6574333011308,4,Suburban
1633,Josephside,2018-03-30 09:45:11,44.74,5592692102803,25,Suburban
1634,Brandonfort,2018-01-14 12:35:27,28.02,8100258078935,10,Suburban
1635,Josephside,2018-02-07 06:56:45,31.94,3185694946333,25,Suburban
1636,New Raymond,2018-03-21 01:45:29,22.12,6031755734913,17,Suburban
1637,Lewisland,2018-02-14 17:38:17,42.31,580385794188,4,Suburban
1638,East Kentstad,2018-01-22 20:43:30,35.01,8750865857333,20,Suburban
1639,Myersshire,2018-04-29 06:08:03,17.99,1127095356276,19,Suburban
1640,Myersshire,2018-01-10 06:32:04,45.81,7014255933887,19,Suburban
1641,Lewisland,2018-01-30 15:08:13,32.40,5099208436594,4,Suburban
1642,West Hannah,2018-03-22 20:18:32,25.86,7624914034208,12,Suburban
1643,North Richardhaven,2018-02-18 10:21:39,41.54,4267383307027,1,Suburban
1644,New Olivia,2018-03-29 02:52:48,44.12,7724469578438,20,Suburban
1645,New Shannonberg,2018-03-19 08:13:37,25.46,374752841670,20,Suburban
1646,Barronchester,2018-05-05 04:03:11,30.38,2281522828169,11,Suburban
1647,Nicolechester,2018-02-09 12:26:03,40.83,85473064902,19,Suburban
1648,New Raymond,2018-03-18 12:07:10,36.26,3151412877753,17,Suburban
1649,New Raymond,2018-05-03 12:23:37,48.56,9495029351539,17,Suburban
1650,Victoriaport,2018-04-21 15:21:47,12.13,3313120309203,16,Suburban
1651,South Teresa,2018-01-29 12:51:02,38.47,5746182119035,21,Suburban
1652,North Richardhaven,2018-04-07 00:32:23,36.32,5014291527509,1,Suburban
1653,East Aaronbury,2018-03-19 10:43:53,20.04,4117474421029,7,Suburban
1654,South Teresa,2018-02-23 04:35:04,46.02,4623132352357,21,Suburban
...,...,...,...,...,...,...
2220,Lake Robertside,2018-02-12 09:45:02,20.03,9626340588797,4,Suburban
2221,South Brenda,2018-03-19 19:25:49,48.98,8685637991901,1,Suburban
2222,Josephside,2018-04-24 10:29:15,42.58,1067620076654,25,Suburban
2223,West Kimmouth,2018-03-05 22:04:15,48.20,321833677,4,Suburban
2224,Barronchester,2018-04-05 14:12:55,33.50,91435348621,11,Suburban
2225,Bethanyland,2018-03-06 10:01:58,13.86,8571759718178,22,Suburban
2226,Lake Omar,2018-02-20 21:56:22,33.61,2721355482706,22,Suburban
2227,Williamsonville,2018-04-28 19:35:03,16.96,9631291999264,2,Suburban
2228,Colemanland,2018-01-19 15:24:42,24.40,6652560250346,23,Suburban
2229,Port Shane,2018-01-30 20:43:57,49.52,8262792633558,7,Suburban
2230,West Kimmouth,2018-03-13 14:50:48,18.72,9388333400065,4,Suburban
2231,Nicolechester,2018-05-05 08:45:58,15.43,8496653987287,19,Suburban
2232,Mezachester,2018-04-19 19:05:10,29.12,8894988518709,14,Suburban
2233,New Olivia,2018-03-27 09:35:08,34.54,4642968219429,20,Suburban
2234,East Danielview,2018-01-25 11:58:33,48.32,1831668503737,22,Suburban
2235,Brandonfort,2018-04-15 04:12:53,47.17,7388012906675,10,Suburban
2236,Port Shane,2018-04-03 22:33:51,15.59,127445516863,7,Suburban
2237,Colemanland,2018-05-04 04:24:31,12.62,4902707063158,23,Suburban
2238,South Teresa,2018-03-05 19:18:37,32.29,4981692995989,21,Suburban
2239,South Brenda,2018-04-25 07:08:25,23.60,1784015692342,1,Suburban
2240,East Aaronbury,2018-04-11 03:24:14,34.40,6540905865488,7,Suburban
2241,Sotoville,2018-03-13 16:06:10,14.36,8629533024103,10,Suburban
2242,West Hannah,2018-01-21 19:54:08,41.95,16507766547,12,Suburban
2243,South Teresa,2018-03-09 09:54:33,25.08,8136313906059,21,Suburban
2244,Bethanyland,2018-04-02 04:29:09,34.38,1783847934910,22,Suburban
2245,West Hannah,2018-03-02 17:06:03,13.92,7388937249208,12,Suburban
2246,Lake Robertside,2018-04-03 03:27:45,12.76,1301757653884,4,Suburban
2247,Colemanland,2018-01-10 06:49:58,27.70,8704067171414,23,Suburban
2248,East Marymouth,2018-02-12 23:18:53,47.41,7409660239158,5,Suburban
2249,New Raymond,2018-02-11 17:28:27,17.97,7551674475043,17,Suburban